.Main{
    color:red;
}

.navbar {
    display:grid;
    grid-template-columns: repeat(5, 10%);
    padding-left:20%;
    padding-right:10%;
    align-items: center;
    grid-gap: 10%;
}

.link {
    padding: 10%;
    text-decoration: none;
    border: solid blue;
    margin: auto;
    border-radius: 20px;
    background-color: white;
}

.link:hover {
    padding-left : 10%;
    padding-right: 10%;
    text-decoration: none;
    border: solid blue;
    margin: auto;
    border-radius: 20px;
    background-color: blue;
    color:white;
}

.form {
    display: grid;
    width:30%;
    margin:auto;
    border: black solid 1px;
    border-radius: 20px;
    padding:3%;
}

.login {
    background-color: green;
    color: white;
    border: solid 1px green;
    padding:3%;
}

.login:hover {
    background-color: darkgreen;
    color: white;
    border: solid 1px darkgreen;
    padding:3%;
}

.login:active {
    background-color: darkgreen;
    color: white;
    border: solid 1px darkgreen;
    padding:3%;
}

.login:disabled {
    background-color: red;
    color: yellow;
    border: solid 1px red;
    padding:3%;
}